<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <h1>Patients List</h1>
    <ul>
        {% for patient in patients %}
        <li>{{ patient.username }} - {{ patient.email }} 
            <a href="/patients/edit/{{ patient.id }}">Edit</a> 
            <a href="/patients/delete/{{ patient.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Add Patient</h2>
    <form action="/patients/add" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="username" name="username">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="email">Password:</label>
        <input type="email" id="password" name="password">
        <button type="submit">Add User</button>
    </form>
</body>
</html>
