{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="content" style="transform: none; min-height: 32.969px;">
   <div class="container-fluid" style="transform: none;">
      <div class="row" style="transform: none;">
         <!-- Profile Sidebar -->
         {% include 'patient/nav.html' %}
         <!-- / Profile Sidebar -->
         <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="card">
               <div class="card-body">
                  <!-- Profile Settings Form -->
                  <form action="{{url_for('predict')}}" method="post">
                     <div class="row form-row">
                        <div class="col-12 col-md-12">
                           <div class="form-group">
                              <div class="change-avatar">
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="age" class='bn' style="font-size:20px">বয়স</label>
                            <input type="number" id="age" name="age" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="gender" class='bn' style="font-size:20px">লিঙ্গ</label>
                            <select id="gender" name="gender" class="form-control">
                                <option value="" disabled selected>আপনার ডেটা পূরণ করুন</option>
                                <option value="1">পুরুষ</option>
                                <option value="2">মহিলা</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="air_pollution" class='bn' style="font-size:20px">বায়ু দূষণ</label>
                            <input type="text" id="air_pollution" name="air_pollution" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="alcohol_use" class='bn' style="font-size:20px">মদ্যপান</label>
                            <input type="text" id="alcohol_use" name="alcohol_use" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="dust_allergy" class='bn' style="font-size:20px">ধুলা অ্যালার্জি</label>
                            <input type="text" id="dust_allergy" name="dust_allergy" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="occupational_hazards" class='bn' style="font-size:20px">পেশাগত ঝুঁকি</label>
                            <input type="text" id="occupational_hazards" name="occupational_hazards" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="genetic_risk" class='bn' style="font-size:20px">জেনেটিক ঝুঁকি</label>
                            <input type="text" id="genetic_risk" name="genetic_risk" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="chronic_lung_disease" class='bn' style="font-size:20px">ক্লান্তিকর ফুসফুসের রোগ</label>
                            <input type="text" id="chronic_lung_disease" name="chronic_lung_disease" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="balanced_diet" class='bn' style="font-size:20px">সুষম খাদ্য</label>
                            <input type="text" id="balanced_diet" name="balanced_diet" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="obesity" class='bn' style="font-size:20px">স্থূলতা</label>
                            <input type="text" id="obesity" name="obesity" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="smoking" class='bn' style="font-size:20px">ধূমপান</label>
                            <input type="text" id="smoking" name="smoking" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="passive_smoker" class='bn' style="font-size:20px">প্যাসিভ স্মোকার</label>
                            <input type="text" id="passive_smoker" name="passive_smoker" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="chest_pain" class='bn' style="font-size:20px">বুকের ব্যথা</label>
                            <input type="text" id="chest_pain" name="chest_pain" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="coughing_of_blood" class='bn' style="font-size:20px">রক্ত কাশি</label>
                            <input type="text" id="coughing_of_blood" name="coughing_of_blood" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="fatigue" class='bn' style="font-size:20px">ক্লান্তি</label>
                            <input type="text" id="fatigue" name="fatigue" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="weight_loss" class='bn' style="font-size:20px">ওজন হ্রাস</label>
                            <input type="text" id="weight_loss" name="weight_loss" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="shortness_of_breath" class='bn' style="font-size:20px">শ্বাসকষ্ট</label>
                            <input type="text" id="shortness_of_breath" name="shortness_of_breath" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="wheezing" class='bn' style="font-size:20px">শ্বাসকষ্ট</label>
                            <input type="text" id="wheezing" name="wheezing" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="swallowing_difficulty" class='bn' style="font-size:20px">গলায় খাওয়া কষ্ট</label>
                            <input type="text" id="swallowing_difficulty" name="swallowing_difficulty" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="clubbing_of_finger_nails" class='bn' style="font-size:20px">নখের ক্লাবিং</label>
                            <input type="text" id="clubbing_of_finger_nails" name="clubbing_of_finger_nails" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="frequent_cold" class='bn' style="font-size:20px">ঘন ঘন ঠান্ডা</label>
                            <input type="text" id="frequent_cold" name="frequent_cold" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="dry_cough" class='bn' style="font-size:20px">শুষ্ক কাশি</label>
                            <input type="text" id="dry_cough" name="dry_cough" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="snoring" class='bn' style="font-size:20px">নাক ডাকা</label>
                            <input type="text" id="snoring" name="snoring" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                        <div class="form-group" style="margin-right: 5px;">
                            <label for="level" class='bn' style="font-size:20px">স্তর</label>
                            <input type="text" id="level" name="level" class="form-control" placeholder="আপনার ডেটা পূরণ করুন">
                        </div>
                     </div>
                     <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn"><font size="5" class="bn" color="black">পরীক্ষা করুন ?</font></button>
                     </div>
                  </form>
                  <!-- /Profile Settings Form -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
