{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="content" style="transform: none; min-height: 32.969px;">
				<div class="container-fluid" style="transform: none;">
												<div class="row" style="transform: none;">

						<!-- Profile Sidebar -->
                                                    {% include 'patient/nav.html' %}


						<!-- / Profile Sidebar -->


					<div class="col-md-7 col-lg-8 col-xl-9">

                        {% include 'reuseable/if-you-have-lung-cancer-lib.html' %}


                    </div>


					</div>

				</div>

			</div>

{% endblock %}