{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section class="section section-search" style="padding: 20px 0;">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="banner-header text-center">

                            <img src="{{ url_for('static', filename='images/heartbeat.gif') }}" style="width: 250px;mix-blend-mode: darken;" alt="Logo">
                            <h1 class="bn">ফুসফুসের ক্যান্সার সনাক্তকরণ সিস্টেম</h1>
							<h2 class="bn">ব্যবহার করে আপনার ফুসফুসের ক্যান্সারের লক্ষণ আছে কিনা তা পরীক্ষা করুন</h2>
                            <br>
                            <a class="btn btn-primary submit-btn bn" href="/patient-login">
                                <font size="5">দেরি না করে এখন এ পরীক্ষা করুন</font>
                            </a>
                            <br/><br/>
							<p class="bn">
                                বাংলাদেশে ধূমপায়ীদের সংখ্যা বৃদ্ধি এবং বায়ু দূষণের মাত্রা বৃদ্ধির সাথে সাথে ফুসফুসের ক্যান্সারের ঘটনা বাড়ছে। এই অনুমানটি সর্বশেষ হাসপাতালের ক্যান্সার রেজিস্ট্রি রিপোর্ট থেকে টানা যেতে পারে যা মাত্র তিন বছরে দেশের ফুসফুসের ক্যান্সারের বোঝা প্রায় 200% বৃদ্ধি পেয়েছে।
                            </p>

						</div>

						  <br>
                         <br>
                         <br>

					</div>
				</div>
			</section>


{% endblock %}